@import "colorPalette.css";
@import "sidenav.css";

.errorMessage{
  color: var(--error-color);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  width: 100%;
  transition: margin-left .5s;
}

#myInventoryTable {
  width: inherit;
  background-color: var(--table-bg-color);
  border: 1px solid var(--black-color);
  border-collapse: collapse;
  font-family: 'Alatsi';
}

#myInventoryTable thead {
  background-color: var(--tHeader-bg-color);
  border: 1px solid var(--black-color);
}

#myInventoryTable th {
  cursor: pointer;
}

#myInventoryTable td, th {
  border: 1px solid var(--black-color);
  width: 12.5%;
}

#tableBtns {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#singleTableBtn {
  display: inline-block;
}

#addProductBtn {
  background-color: var(--login-bg-color);
  width: 150px;
  height: 35px;
  font-family: 'Alatsi';
  cursor: pointer;
}

#removeProductBtn {
  background-color: var(--login-bg-color);
  width: 150px;
  height: 35px;
  font-family: 'Alatsi';
  cursor: pointer;
}

/* Add Product Popup (background) */
.inventoryPopup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--mainFaded-bg-color);
}

/* Popup Content */
.popup-content {
  background-color: var(--main-bg-color);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--black-color);
  width: 15%;
}

.popup-content .prodInfoInput {
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.popup-content .popupProd {
  padding: 0px 55px;
}

.popup-content .prodInfo {
  text-align: left;
}

.popup-content .popupBtn {
  text-align: center;
  margin-top: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
    font-family: 'Alatsi';
    font-size: 30px;
   	text-align:center;
}
h2 {
    font-family: 'Alatsi';
    font-size: 30px;
    text-align:center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
